<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/data/jpa  http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/tx    http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop.xsd
">
    <context:annotation-config/>
    <!-- 扫描service包下所有使用注解的类型 -->
    <context:component-scan base-package="cn.beerate.service" />

    <!-- 数据库配置文件 -->
    <context:property-placeholder location="classpath:db.properties" ignore-unresolvable="true" system-properties-mode="NEVER"/>

    <!-- 数据源 -->
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig"  >
        <!--poolName属性自定义即可-->
        <!--<property name="poolName" value="springHikariCP" />-->
        <!--<property name="dataSourceClassName" value="${jdbc.driver}" />-->
        <!--&lt;!&ndash; 最大连接池数量 &ndash;&gt;-->
        <!--<property name="maximumPoolSize" value="20"/>-->

        <!--<property name="dataSourceProperties">-->
            <!--<props>-->
                <!--<prop key="url">${jdbc.url}</prop>-->
                <!--<prop key="user">${jdbc.username}</prop>-->
                <!--<prop key="password">${jdbc.password}</prop>-->
            <!--</props>-->
        <!--</property>-->

        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <!-- 连接只读数据库时配置为true， 保证安全 -->
        <property name="readOnly" value="false" />
        <!-- 等待连接池分配连接的最大时长（毫秒），超过这个时长还没可用的连接则发生SQLException， 缺省:30秒 -->
        <property name="connectionTimeout" value="30000" />
        <!-- 一个连接idle状态的最大时长（毫秒），超时则被释放（retired），缺省:10分钟 -->
        <property name="idleTimeout" value="600000" />
        <!-- 一个连接的生命时长（毫秒），超时而且没被使用则被释放（retired），缺省:30分钟，建议设置比数据库超时时长少30秒，参考MySQL
            wait_timeout参数（show variables like '%timeout%';） -->
        <property name="maxLifetime" value="1800000" />
        <!-- 连接池中允许的最大连接数。缺省值：10；推荐的公式：((core_count * 2) + effective_spindle_count) -->
        <property name="maximumPoolSize" value="60" />
        <property name="minimumIdle" value="10" />
    </bean>

    <!-- HikariCP dataSource配置 -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"  destroy-method="close">
        <constructor-arg ref="hikariConfig" />
    </bean>

    <!-- 实体管理器 -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="cn.beerate.model.entity" />
        <property name="persistenceProvider">
            <bean class="org.hibernate.jpa.HibernatePersistenceProvider" />
        </property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true" />
                <property name="database" value="MYSQL" />
                <property name="databasePlatform" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
                <property name="showSql" value="false" />
            </bean>
        </property>
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
        </property>
        <property name="jpaPropertyMap">
            <map>
                <entry key="hibernate.query.substitutions" value="true 1, false 0" />
                <entry key="hibernate.default_batch_fetch_size" value="16" />
                <entry key="hibernate.max_fetch_depth" value="2" />
                <entry key="hibernate.generate_statistics" value="true" />
                <entry key="hibernate.bytecode.use_reflection_optimizer" value="true" />
                <entry key="hibernate.cache.use_second_level_cache" value="false" />
                <entry key="hibernate.cache.use_query_cache" value="false" />
                <entry key="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
                <entry key="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy"/>
                <entry key="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
                <entry key="hibernate.show_sql" value="false"/>
                <entry key="hibernate.format_sql" value="false"/>
                <entry key="hibernate.hbm2ddl.auto" value="update"/>
            </map>
        </property>
    </bean>

    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- 支持注解方式声明式事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

    <!-- dao -->
    <jpa:repositories base-package="cn.beerate.dao" repository-impl-postfix="Dao" entity-manager-factory-ref="entityManagerFactory" transaction-manager-ref="transactionManager" />



    <!--&lt;!&ndash; 事务 &ndash;&gt;-->
    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="*" />-->
            <!--<tx:method name="get*" read-only="true" />-->
            <!--<tx:method name="find*" read-only="true" />-->
            <!--<tx:method name="select*" read-only="true" />-->
            <!--<tx:method name="delete*" propagation="REQUIRED" />-->
            <!--<tx:method name="update*" propagation="REQUIRED" />-->
            <!--<tx:method name="add*" propagation="REQUIRED" />-->
            <!--<tx:method name="insert*" propagation="REQUIRED" />-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <!-- 事务入口 -->
    <!--<aop:config>-->
        <!--<aop:pointcut id="allServiceMethod" expression="execution(* your service implements package.*.*(..))" />-->
        <!--<aop:advisor pointcut-ref="allServiceMethod" advice-ref="txAdvice" />-->
    <!--</aop:config>-->

    <!-- 系统参数 -->
    <context:property-placeholder location="classpath:security.properties" ignore-unresolvable="true" system-properties-mode="NEVER"/>

    <bean id="securityKey" class="cn.beerate.common.Constants.SecurityKey" init-method="init">
        <property name="privateKey" value="${security.privateKey}"/>
        <property name="publicKey" value="${security.publicKey}"/>
        <property name="md5Key" value="${security.md5Key}"/>
    </bean>

</beans>